<ion-view title="BLON|TANG" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-light icon ion-android-color-palette"> Buat Design</button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <ion-list id="bLONTANG-list15">
      <ion-item class="item-icon-left dark" id="bLONTANG-list-item40">
        <i class="icon ion-information-circled"></i>Ups, Anda mempunyai 0 pesanan</ion-item>
    </ion-list>
    <div></div>
    <div class="list card" id="bLONTANG-card23">
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="bLONTANG-slider4" style="width:100%;height:200px;">
        <ion-slide-page id="bLONTANG-slide29" style="background:url(&quot;img/bRduRUlUSGexLbvp25tn_baju.PNG&quot;) no-repeat center;background-size:cover;" class="slide padding">
          <div style="display:table;width:100%;height:100%;">
            <div style="display:table-row;">
              <div style="display:table-cell;vertical-align:middle;"></div>
            </div>
          </div>
        </ion-slide-page>
      </ion-slides>
      <div class="item item-body" id="bLONTANG-list-item-container6">
        <div id="bLONTANG-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>[PROMO]</strong> Sablon Baju | Gratis Ongkir Area Batang Berkembang</p>
        </div>
      </div>
    </div>
    <ion-list id="bLONTANG-list3">
      <ion-item class="item-thumbnail-left" id="bLONTANG-list-item8" ui-sref="menu.editorBaju()">
        <img src="img/XjM0mlEiQEeOTdqXvI9J_baju.PNG">
        <h2>Baju Custom</h2>
        <p style="white-space:normal;">Satuan atau partai. Harga murah, kualitas premium bergaransi. Buat Custom Satuan. Garansi 100% Belanja Aman. Jaminan Kualitas Premium</p>
        <ion-option-button class="button-dark">PESAN</ion-option-button>
        <ion-option-button class="button-balanced">HARGA</ion-option-button>
        <ion-option-button class="button-energized">DESIGN</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="bLONTANG-list-item42" ui-sref="menu.pILIHMEDIA()">
        <img src="img/1010_us_desktop.png">
        <h2dark>Phone Case Custom
          <p style="white-space:normal;">Ingin membuat kasing sendiri? Gunakan alat online kami untuk menyesuaikan kasus Anda. Unggah foto favorit Anda atau pilih salah satu desain kami yang dibuat oleh seniman berbakat.</p>
          <ion-option-button class="button-dark">PESAN</ion-option-button>
          <ion-option-button class="button-balanced">HARGA</ion-option-button>
          <ion-option-button class="button-energized">DESAIN</ion-option-button>
        </h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="bLONTANG-list-item9" ui-sref="menu.pILIHMEDIA()">
        <img src="img/imagesqtbnANd9GcR7WyaNVDB3tqoKthd3KmBE9WOPLW7wZiP4UpP4OijQ3ZWFGBAj">
        <h2dark>Mug Custom
          <p style="white-space:normal;">Apakah Anda ingin memiliki suasana hati yang baik ketika Anda minum? Mug buatan sendiri dapat membantumu lebih bersemangat, apalagi ada foto orang tercinta.</p>
          <ion-option-button class="button-dark">PESAN</ion-option-button>
          <ion-option-button class="button-balanced">HARGA</ion-option-button>
          <ion-option-button class="button-energized">DESAIN</ion-option-button>
        </h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="bLONTANG-list-item43" ui-sref="menu.pILIHMEDIA()">
        <img src="img/9k">
        <h2dark>Topi Custom
          <p style="white-space:normal;">Tidak pede dengan kepala anda? Pakai top Custom biar tambah pede.</p>
          <ion-option-button class="button-dark">PESAN</ion-option-button>
          <ion-option-button class="button-balanced">HARGA</ion-option-button>
          <ion-option-button class="button-energized">DESAIN</ion-option-button>
        </h2dark>
      </ion-item>
    </ion-list>
    <button id="bLONTANG-button46" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-block">Request</button>
  </ion-content>
</ion-view>