<ion-view title="CHECKOUT" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="cHECKOUT-slider5" style="width:100%;height:200px;">
      <ion-slide-page id="cHECKOUT-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="cHECKOUT-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="cHECKOUT-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <form id="cHECKOUT-form9" class="list">
      <label class="item item-select" id="cHECKOUT-select2">
        <span class="input-label">Ukuran :</span>
        <select>
          <option>S</option>
          <option>M</option>
          <option>L</option>
          <option>XL</option>
        </select>
      </label>
      <label class="item item-select" id="cHECKOUT-select3">
        <span class="input-label">Bahan</span>
        <select>
          <option>Polyester</option>
          <option>Polyamide Fabric</option>
          <option>40% Katun</option>
          <option>Satin</option>
        </select>
      </label>
      <label class="item item-select" id="cHECKOUT-select5">
        <span class="input-label">Jasa Pengiriman</span>
        <select>
          <option>JNE</option>
          <option>TIKI</option>
          <option>J&amp;T</option>
        </select>
      </label>
      <label class="item item-input" id="cHECKOUT-input7">
        <span class="input-label">Kota</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cHECKOUT-input4">
        <input type="text" placeholder="Alamat Lengkap">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="cHECKOUT-input5">
        <input type="text" placeholder="Keterangan">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="cHECKOUT-input6">
        <input type="text" placeholder="Kode Promo">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <div id="cHECKOUT-markdown12" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Total Harga
          <strong>Rp. 300.000</strong>
        </p>
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <button id="cHECKOUT-button9" class="button button-dark button-block">Pesan</button>
    </form>
  </ion-content>
</ion-view>