<ion-view title="Detail Pesanan" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/custom-magic-black-mug-hyvl6OT1GXAw0aJare.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="detailPesanan-list8">
      <ion-list id="detailPesanan-list9">
        <ion-item id="detailPesanan-list-item24">Nama Pembeli
          <span class="item-note">IBID ATHOILLAH</span>
        </ion-item>
        <ion-item id="detailPesanan-list-item25">Jumlah
          <span class="item-note">5</span>
        </ion-item>
        <ion-item id="detailPesanan-list-item26">Detail Pesanan
          <span class="item-note">Bahan Polyester, Ukuran S</span>
        </ion-item>
        <ion-item id="detailPesanan-list-item27">Alamat
          <span class="item-note">Jl. Sunan Kudus No.10 Gg.10</span>
        </ion-item>
        <ion-item id="detailPesanan-list-item28">Jasa Pengiriman
          <span class="item-note">JNE Express</span>
        </ion-item>
      </ion-list>
    </ion-list>
    <ion-list id="detailPesanan-list10">
      <ion-item class="item-icon-right" id="detailPesanan-list-item29">Status
        <span class="item-note">Dalam Perjalanan</span>
        <i class="icon ion-android-train icon-accessory"></i>
      </ion-item>
    </ion-list>
    <button id="detailPesanan-button24" class="button button-balanced button-block icon-left ion-ios-star">Beri Review</button>
    <button id="detailPesanan-button17" class="button button-assertive button-block icon-left ion-social-whatsapp">Ajukan Komplain</button>
  </ion-content>
</ion-view>