<ion-view title="Editor Mug" id="page18">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-camera"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-share"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div class="list card" id="editorMug-card26">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="editorMug-list-item-container13"></div>
    </div>
    <div id="editorMug-button-bar4" class="button-bar">
      <button id="editorMug-button33" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-block button-outline icon-left ion-android-color-palette"></button>
      <button id="editorMug-button34" class="button button-dark button-block button-outline icon-left ion-edit"></button>
      <button id="editorMug-button35" class="button button-dark button-block button-outline icon ion-android-arrow-dropleft"></button>
      <button id="editorMug-button36" class="button button-dark button-block button-outline icon ion-android-arrow-dropdown"></button>
      <button id="editorMug-button37" class="button button-dark button-block button-outline icon ion-android-arrow-dropup"></button>
      <button id="editorMug-button38" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-block button-outline icon ion-android-arrow-dropright"></button>
    </div>
    <ion-list id="editorMug-list14">
      <ion-item class="item-icon-left item-icon-right balanced" id="editorMug-list-item39" ui-sref="cHECKOUT()">
        <i class="icon ion-android-cart"></i>Pesan langsung
        <span class="item-note">secure</span>
        <i class="icon ion-android-checkmark-circle icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>