<ion-view title="{{post.category}}" id="page4" >
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-earth"></button>
  </ion-nav-buttons>
  <ion-content padding="false" scroll="false" class="has-header">
    <div id="myImage2" style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;    margin: 0px;
    line-height: 250px;
    background-color: rgb(232, 235, 239);
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;">
      <i id="icon-gambar2" class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="laporkan3-markdown2" class="show-list-numbers-and-dots marginleft10 marginright10">
      <p style="color:#1A14E2;">Jenis Laporan</p>
    </div>
    <ion-list id="laporkan3-list15">
      <ion-item class="item-icon-left item-icon-right" id="laporkan3-list-item9" ui-sref="laporkan2()">
        <i class="icon ion-earth"></i> {{post.category}}
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div><textarea id="isi" class="marginleft10" rows="4" cols="50" placeholder="Deskripsi masalah....">
</textarea>
    <button style="margin-bottom: 4% !important;" ng-click="submit()" id="laporkan3-button16" class="button button-positive button-block footer">Submit</button>
  </ion-content>
</ion-view>