<ion-view title="laporkan" id="page2">
  <ion-content padding="false" scroll="false" class="has-header">
    <button style="margin: 10%;margin-top:40%;
    width: 80%;" id="laporkan-button21" class="button button-positive button-block">Unggah Foto</button>
    <button style="margin: 10%;
    width: 80%;"   ng-click="camera()" id="laporkan-button21" class="button button-positive button-block">Ambil Gambar</button>

   <!-- <img src="/img/image.png" id="myImage">
    <div class="spacer" style="height: 10px;"></div> -->
    <!-- <div id="laporkan-container7" class="padding20p">
      <a ng-click="camera()" id="laporkan-button15" style="font-weight:500;" class="button button-assertive circle"></a>
    </div> -->
    <!-- <div id="laporkan-button-bar5" class="button-bar footer">
      <button id="laporkan-button21" class="button button-light button-block">PEMERINTAH</button>
      <a ui-sref="ulasBisnis()" id="laporkan-button27" class="button button-positive button-block">SWASTA</a>
    </div> -->
  </ion-content>
</ion-view>