<ion-view title="laporkan2" id="page3">
  <ion-content padding="false" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="laporkan2-heading1" style="color:#000000;" class="marginleft10">Jenis Laporan</h4>
    <div id="laporkan2-container15" class="marginleft10">
      <div id="laporkan2-container6" class="button-container">
        <a ui-sref="laporkan3()" onclick="post.category='lingkungan'" id="laporkan2-button9" style="border-radius:4000px 4000px 4000px 4000px;" class="button button-light button-block icon ion-earth"></a>
        <p class="center" style=" font-size:12px;color:black; padding-left:1px; margin-top:-15px;">Lingkungan </p>
      </div>
      <div id="laporkan2-container19" class="button-container">
        <a ui-sref="laporkan3()"  onclick="post.category='pelayanan publik'" id="laporkan2-button22" style="border-radius:4000px 4000px 4000px 4000px;" class="button button-light button-block icon ion-ios-people"></a>
        <p class="center" style=" font-size:12px;color:black; padding-left:1px; margin-top:-15px;">Pelayanan Publik</p>
      </div>
      <div id="laporkan2-container20" class="button-container">
        <a ui-sref="laporkan3()"  onclick="post.category='transportasi umum'"  id="laporkan2-button23" style="border-radius:4000px 4000px 4000px 4000px;" class="button button-light button-block icon ion-android-bus"></a>
        <p class="center" style=" font-size:12px;color:black; padding-left:1px; margin-top:-15px;">Transportasi Umum </p>
      </div>
      <div id="laporkan2-container22" class="button-container">
        <a ui-sref="laporkan3()"  onclick="post.category='jalanan'" id="laporkan2-button25" style="border-radius:4000px 4000px 4000px 4000px;" class="button button-light button-block icon ion-map"></a>
        <p class="center" style=" font-size:12px;color:black; padding-left:1px; margin-top:-15px;">Jalanan</p>
      </div>
       <div id="laporkan2-container21" class="button-container">
        <a ui-sref="laporkan3()"  onclick="post.category='lainnya'" id="laporkan2-button24" style="border-radius:4000px 4000px 4000px 4000px;" class="button button-light button-block icon ion-android-home"></a>
        <p class="center" style=" font-size:12px;color:black; padding-left:1px; margin-top:-15px;">Lainnya</p>
      </div>
    </div>
  </ion-content>
</ion-view>