<ion-view title="lapokan4" id="page5">
  <ion-content padding="false" scroll="false" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <div id="lapokan4-markdown3" class="show-list-numbers-and-dots marginleft10">
      <p style="color:#000000;">
        <strong>Laporan Anda</strong>
      </p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="lapokan4-markdown4" class="show-list-numbers-and-dots marginleft10">
      <p style="color:#000000;">
        <strong>Label Laporan</strong>
      </p>
    </div>
    <div id="lapokan4-markdown5" style="text-align:center;" class="show-list-numbers-and-dots bg">
      <p style="color:#000000;">Laporan Pencemaran Lingkungan</p>
    </div>
    <div id="lapokan4-markdown6" class="show-list-numbers-and-dots marginleft10">
      <p style="color:#000000;">
        <strong>Deskripsi Laporan</strong>
      </p>
    </div>
    <div id="lapokan4-markdown7" style="text-align:center;" class="show-list-numbers-and-dots bg">
      <p style="color:#000000;font-size:12px;">Banyak pembuangan sampah di sekitar sungai sambong.</p>
    </div>
    <button id="lapokan4-button17" class="button button-positive button-block footer">Kirim</button>
  </ion-content>
</ion-view>