<ion-view title="laporan" id="page12">
  <ion-content padding="false" scroll="false" class="has-header">
    <ion-list id="laporan-list16">
      <ion-item class="item-thumbnail-left item-icon-right" id="laporan-list-item14" ui-sref="page()">
        <h2>50 min ago</h2>
        <p style="white-space:normal;">Kerusakan hutan kota batang karena kurangnya perhatian dari pemkot kota d</p>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div id="laporan-button-bar8" class="button-bar footer shadow">
      <a ui-sref="admin()" id="laporan-button55" class="button button-positive button-block icon ion-ios-home-outline"></a>
      <button id="laporan-button57" class="button button-light button-block icon ion-alert"></button>
    </div>
  </ion-content>
</ion-view>