<ion-view title="Maaf Ya...  -,-" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <h1 id="maafYa-heading2" style="color:#D6D5D5;font-weight:lighter;text-align:center;">Fitur yang anda kunjungi belum tersedia, Mohon rate agar fitur diperbaharui dan aplikasi ini tetap tersedia.</h1>
    <div class="spacer" style="height: 20px;"></div>
    <button id="maafYa-button15" style="text-align:left;" class="button button-dark button-block icon-right ion-android-star">KLIK UNTUK RATE </button>
    <button id="maafYa-button16" style="text-align:left;" class="button button-dark button-block icon-right ion-social-whatsapp">PESAN LEWAT WA</button>
  </ion-content>
</ion-view>