<ion-view title="Media Sosial" id="page16">
  <ion-content padding="true" class="has-header">
    <ion-list id="mediaSosial-list11">
      <ion-item class="item-icon-left balanced" id="mediaSosial-list-item32">
        <i class="icon ion-social-whatsapp"></i>WhatsApp Bro</ion-item>
      <ion-item class="item-icon-left assertive" id="mediaSosial-list-item33">
        <i class="icon ion-social-instagram"></i>Instagram Cuy</ion-item>
      <ion-item class="item-icon-left positive" id="mediaSosial-list-item35">
        <i class="icon ion-social-facebook"></i>Facebook Kuy</ion-item>
    </ion-list>
    <div class="spacer" style="height: 54vh;"></div>
    <ion-list id="mediaSosial-list12">
      <ion-item class="item-icon-left dark" id="mediaSosial-list-item34">
        <i class="icon ion-social-github"></i>Github Hhe</ion-item>
      <ion-item class="item-icon-left energized" id="mediaSosial-list-item36">
        <i class="icon ion-sad-outline"></i>Request nomor hape admin?</ion-item>
    </ion-list>
  </ion-content>
</ion-view>