<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-dark">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-avatar dark" id="menu-list-item7">
          <img src="img/N4xp1kSWSsqP6ep2roMJ_logo.png">
          <h2dark>Anda belum login
            <p>Login untuk memesan</p>
          </h2dark>
        </ion-item>
        <ion-item id="menu-list-item1" ui-sref="menu.bLONTANG()" menu-close="">Beranda</ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.pesanan()" menu-close="">Pesanan</ion-item>
        <ion-item id="menu-list-item3" ui-sref="menu.chat()" menu-close="">Chat</ion-item>
        <ion-item id="menu-list-item18" ui-sref="menu.chat()" menu-close="">Contact</ion-item>
        <ion-item id="menu-list-item20" ui-sref="menu.chat()" menu-close="">Rate App Dong</ion-item>
        <ion-item id="menu-list-item19" ui-sref="lOGIN()" menu-close="">Keluar</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>