<ion-view title="Pendaftaran" hide-back-button="true" cache-view="true" nav-transition="true"  id="page19">
    <ion-nav-buttons side="left">
        <a ui-sref="lOGIN"  class="button button-light icon ion-android-arrow-back"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">

  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="pendaftaran-form10" class="list">
      <ion-list id="pendaftaran-list16">
        <label class="item item-input" id="pendaftaran-input8">
          
          <input type="text" placeholder="Username" ng-model="user.username">
        </label>
        <label class="item item-input" id="pendaftaran-input9">
          
          <input type="email" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input" id="pendaftaran-input10">

          <input type="text" placeholder="Kata Sandi" ng-model="user.password">
        </label>
         <label class="item item-input" id="pendaftaran-input10">
          
          <input type="text" placeholder="Konfirmasi Kata Sandi" ng-model="user.cpassword">
        </label>
      </ion-list>
      <button ng-click="register()" id="pendaftaran-button25" class="button button-balanced button-block">Daftar</button>
    </form>
  </ion-content>
</ion-view>