<ion-view title="Pendaftaran" id="page19">
  <ion-content padding="true" class="has-header">
    <form id="pendaftaran-form10" class="list">
      <ion-list id="pendaftaran-list16">
        <label class="item item-input" id="pendaftaran-input8">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="pendaftaran-input9">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="pendaftaran-input10">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="pendaftaran-button25" class="button button-balanced button-block">Daftar</button>
    </form>
  </ion-content>
</ion-view>