<ion-view title="PILIH MEDIA" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <a ui-sref="menu.editorBaju()" id="pILIHMEDIA-button11" style="text-align:left;" class="button button-dark button-block icon-right ion-tshirt"> BAJU</a>
    <a ui-sref="menu.editorCaseHP()" id="pILIHMEDIA-button12" style="text-align:left;" class="button button-dark button-block icon-right ion-android-phone-portrait"> CASING HAPE</a>
    <a ui-sref="menu.maafYa()" id="pILIHMEDIA-button13" style="text-align:left;" class="button button-dark button-block icon-right ion-coffee">MUG</a>
    <a ui-sref="menu.maafYa()" id="pILIHMEDIA-button14" style="text-align:left;" class="button button-dark button-block icon-right ion-android-person">TOPI</a>
    <button id="pILIHMEDIA-button44" class="button button-light button-block icon ion-android-arrow-dropdown"></button>
    <div class="spacer" style="height: 50px;"></div>
    <a ui-sref="menu.maafYa()" id="pILIHMEDIA-button43" style="text-align:left;" class="button button-balanced button-block button-outline icon-right ion-social-whatsapp">Klik Untuk Order Via WhatsApp</a>
    <div class="spacer" style="height: 30px;"></div>
    <div id="pILIHMEDIA-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Hi, Berikut solusi masalah anda :</p>
    </div>
    <a ui-sref="menu.maafYa()" id="pILIHMEDIA-button41" style="text-align:left;" class="button button-dark button-block icon-right ion-cash">HARGA SABLON MAHAL ?</a>
    <a ui-sref="menu.maafYa()" id="pILIHMEDIA-button40" style="text-align:left;" class="button button-dark button-block icon-right ion-ios-color-wand">BIKININ DESAIN DONK ?</a>
    <a ui-sref="menu.maafYa()" id="pILIHMEDIA-button39" style="text-align:left;" class="button button-dark button-block icon-right ion-android-sad">IDEKU TERLALU KOMPLEX ?</a>
    <div class="spacer" style="height: 100vh;"></div>
    <a ui-sref="menu.maafYa()" id="pILIHMEDIA-button42" style="text-align:left;" class="button button-dark button-block icon-right ion-android-sad">BUTUH TEMEN CHAT ?</a>
  </ion-content>
</ion-view>