<ion-view title="Profil" id="page9">
  <ion-content padding="false" scroll="false" class="has-header">
    <div class="list borderprofil">

      <table class="marginleft10 responsivetable">
        <tbody>
          <tr>
            <td rowspan="3">
              <img src="/img/avatar-img.png" class="responsive" style=" border-radius: 50pc; ;">
            </td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Menunggu</td>
            <td>Process</td>
            <td>Selesai</td>
          </tr>
          <tr>

            <td colspan="3" style="padding-right:20px;
padding-left:20px;">
              <a ui-sref="profilDetaile">
                <button id="profil-button19" class="border button button-dark button-small button-block button-clear ic-selected" data-componentid="button19">Pengaturan</button>
              </a>
            </td>
          </tr>
          <tr>
            <td>nama</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h4 id="profil-heading2" style="color:#000000;" class="marginleft10 marginright10">Laporan</h4>
    <div id="profil-container10" class="marginleft10 marginright10 menu-container shadow radius10 margintop10">
      <a ui-sref="menu.namaToko">
        <div style="background: url(&quot;http://cdn2.tstatic.net/tribunnews/foto/bank/images/kedai-awug-cibeunying_20170719_212018.jpg&quot;) center center / cover no-repeat; width: 70px;margin: 0   px; line-height: 70px;  background-color: rgb(232, 235, 239); text-align: center;  border-top-left-radius: 10px;
   border-top-right-radius: 10px;">
          &lt;
        </div>
      </a>
      <div>
        <a ui-sref="menu.namaToko">
          <div style="width: 130px;">
            <center style="
    width: 70px;
">
              <p>
                <b style=" margin-left:5px;">Selesai</b>
              </p>
            </center>

          </div>
        </a>
        <a></a>
      </div>
    </div>
    <div id="profil-button-bar6" class="button-bar footer shadow">
      <a ui-sref="home()" id="profil-button20" class="button button-light button-block icon ion-android-home"></a>
      <a ui-sref="laporkan()" id="profil-button30" class="button button-light button-block icon ion-android-add-circle"></a>
      <button id="profil-button28" class="button button-light button-block icon ion-android-person"></button>
    </div>
  </ion-content>
</ion-view>