<ion-view title="review" id="page7" class="bg">
  <ion-content padding="false" class="has-header">
    <div id="review-container29" class="white margin10 shadow2">
      <div class="spacer" style="height: 10px;"></div>
      <div id="review-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Review Negative</strong>
        </p>
      </div>
      <div id="review-container30" class="button-container">
        <a ui-sref="pilihFoto()" id="review-button33" class="button button-light icon ion-alert-circled"></a>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container34" class="button-container">
        <button id="review-button37" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container35" class="button-container">
        <button id="review-button38" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container37" class="button-container">
        <button id="review-button40" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container38" class="button-container">
        <button id="review-button41" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container39" class="button-container">
        <button id="review-button42" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container36" class="button-container">
        <button id="review-button39" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container31" class="button-container">
        <button id="review-button34" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container32" class="button-container">
        <button id="review-button35" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div class="spacer" style="height: 310px;"></div>
    </div>
    <div id="review-container51" class="white margin10 shadow2">
      <div class="spacer" style="height: 10px;"></div>
      <div id="review-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Review Positive</strong>
        </p>
      </div>
      <div id="review-container42" class="button-container">
        <button id="review-button44" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container43" class="button-container">
        <button id="review-button45" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container44" class="button-container">
        <button id="review-button46" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container45" class="button-container">
        <button id="review-button47" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container46" class="button-container">
        <button id="review-button48" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container47" class="button-container">
        <button id="review-button49" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container48" class="button-container">
        <button id="review-button50" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container49" class="button-container">
        <button id="review-button51" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div id="review-container50" class="button-container">
        <button id="review-button52" class="button button-light icon ion-alert-circled"></button>
        <p>
          Kotor
        </p>
      </div>
      <div class="spacer" style="height: 310px;"></div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>