<ion-view title="Tersimpan" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-light icon ion-android-color-palette"> Buat Design</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="tersimpan-card24">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="tersimpan-list-item-container10">
        <div id="tersimpan-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <div id="tersimpan-button-bar1" class="button-bar">
        <button id="tersimpan-button6" class="button button-stable button-block icon ion-android-cart"></button>
        <button id="tersimpan-button7" class="button button-stable button-block icon ion-android-share"></button>
        <button id="tersimpan-button8" class="button button-stable button-block icon ion-android-delete"></button>
      </div>
    </div>
  </ion-content>
</ion-view>